{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Flight Monitor</title>
    <link rel="stylesheet" href="{% static 'monitor/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Flight Monitor</h1>
    <a href="/monitor/add_flight"><button>Monitor a Flight</button></a>
    <form id="apiKeyForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" id="checkPricesButton">Check for Lower Prices</button>
    </form>
    <h2>Monitored Flights</h2>
    <ul>
        {% for flight in flights %}
            <li>
                <h3>{{ flight.name }}</h3>
                <br/> 
                {{ flight.IATA_departure }} > {{ flight.IATA_arrival }} 
                <br/>
                FROM {{ flight.date_from|date:"Y-m-d H:i" }}
                <br/>
                TO {{ flight.date_to|date:"Y-m-d H:i" }}
                <br/>
                <hr/>
                <h3>BEST DEAL:</h3>
                <h4>${{ flight.best_flight.price }}</h4>
                {{ flight.best_flight }}
                <br/>
                DEPARTURE DATE:
                <br/>
                {{ flight.best_flight.departure_date }}
                <br/>
                ARRIVAL DATE:
                <br/>
                {{ flight.best_flight.arrival_date }}
                <br/>
                <a href="{% url 'admin:monitor_monitoredflight_change' flight.id %}" class="edit-button">Edit</a>
            </li>
        {% empty %}
            <li>No flights are currently being monitored.</li>
        {% endfor %}
    </ul>

    <script>
        document.getElementById('checkPricesButton').addEventListener('click', function() {

            const apiKey = document.querySelector('input[name="api_key"]').value;
            console.log(apiKey);
            fetch('/monitor/check-flights/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify({
                    api_key: apiKey,
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Log the response data to the console
                alert(data.message); // Show success or error message
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>

</body>
</html>
